<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yusif</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/static/uploads/initial-y-yy-yx-xy-260nw-1528573229.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>   
        <!-- Section Pre-loader start -->
        <div class="loader">
          <img src="/static/uploads/Infinity-1s-200px (1).gif" alt="">
        </div>
        <!-- Section Pre-loader end -->

        <!--Section Navbar start-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top p-0">
            <div class="container-fluid p-0">
              
              <button class="navbar-toggler m-3 border-0" id="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link active" href="#hello"><strong>ANA SƏHİFƏ</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#resume"><strong>HAQQIMDA</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects"><strong>LAYİHƏLƏRİM</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#feedbacks"><strong>FEEDBACKS</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#blog"><strong>BLOG</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#contact"><strong>ƏLAQƏ</strong></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!--Section Navbar end-->
        
        <!--Section Header start-->
          <section class="main-header" style="background-image: url(/static/uploads/pexels-james-lee-4723037.jpg)">
            
              <div class="container ps-0 pe-0">
                  <div class="row personal-profile" style="position: relative;">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <div class=flashes>
                        {% for message in messages %}
                          
                          <div class="alert alert-warning alert-dismissible fade show w-25 p-0 text-success" role="alert" style="font-weight: 500; background-color: transparent; border-color:transparent">
                            {{ message |safe}}
                            <button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent; "></button>
                          </div>
                        {% endfor %}
                        </div>
                      {% endif %}
                    {% endwith %}
                      <div class="col-md-4 personal-profile-pic ">
                          <img src="/static/uploads/profilePhoto.jpeg" class="img-fluid " alt="">
                      </div>
                      <div class="col-md-8">
                          <div class="personal-profile-name"><h1 class="yusif"></h1></div>
                          <p class="coding-text">Coding is <span class="typed-text"></span><span class="cursorJ typing">&nbsp;</span></p>
                          <div class="personal-profile-contact">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span>YAŞ:</span> 
                                    <div class="about-header">{{prof.prof_age}}</div>
                                </li>
                                <li class="list-group-item"><span>TELEFON:</span> 
                                    <div class="about-header">{{prof.prof_phone}}</div>
                                </li>
                                <li class="list-group-item"><span>EMAIL:</span> 
                                    <div class="about-header">{{prof.prof_email}}</div>
                                </li>
                                <li class="list-group-item"><span>ADRES:</span> 
                                    <div class="about-header">{{prof.prof_address}}</div>
                                </li>
                                <li class="list-group-item ">
                                  <div class="icn">
                                    <a href="https://www.instagram.com/yusifiz/" target="_blank" ><i class="fab fa-instagram"></i></a>
                                    <a href="https://yusifosmanov475@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                                    <a href="https://github.com/yusifiz" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="https://medium.com/@yusifosmanov475" target="_blank"><i class="fab fa-medium"></i></a>
                                  </div>

                                </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!--Section Header end-->

          <!--Section Hello start-->
          <section id="hello">
            <div class="container">
              <div class="row">
                <div class="col-md-10 hello" >
                  <h2 class="salam"></h2>
                  <p>{{prof.hello_text |safe}}</p>
                  <button type="button" class="btn btn-warning btn-lg rounded-pill">CV'ni yüklə</button>
                </div>
              </div>
            </div>
          </section>
          <!--Section Hello end-->

          <!--Section Resume start-->
          <section id="resume">
            <div class="container">
              <div class="row">
                <div class="col-md-10 resume">
                  <h2 class="xulase"></h2>
                  <p>{{prof.about_text |safe}} </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 education-list">
                  <h3>Təhsil</h3>
                  <ul class="list-group s-item-group border-0 mt-5 d-block">
                    {% for edu in education %}
                    <li class="list-group-item rounded-0 d-block  border-top-0 border-end-0 border-bottom-0">
                      <p class="resume-block-title d-block">{{edu.edu_name}}</p>
                      <p class ="resume-block-date d-block">{{edu.edu_start_date}} - {{edu.edu_finish_date}}</p>
                      <p class="resume-block-pg d-block">{{edu.edu_content}}</p>
                    </li>
                    {% endfor %}
                    

                </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 skill-list">
                  <h3>Ümumi bacarıqlar</h3>
                  <ul class="list-group s-item-group border-0 mt-5 d-block ">
                    <li class="list-group-item rounded-0 d-block border-top-0 border-end-0 border-bottom-0">
                      <div class="skills-icn ">
                        {% for skill in skills %}
                          
                            <div class="skill-icn">
                              <div class="d-flex flex-column"><a href="{{skill.skill_url}}" target="_blank"><img src="{{skill.skill_img}}"></a>
                                <span class="text-warning text-center" style="width: 100%;">{{skill.skill_name}} </span></div>
                            </div>
                            
                        {% endfor %}
                        
                      </div>  
                      </div>
                      
                        
                      
                    </li>
                    <!-- <li class="list-group-item rounded-0 d-block border-top-0 border-end-0 border-bottom-0">
                      <div class="skills-icn d-flex">
                        
                    
                    </li> -->
                </div>
              </div>
              <div class="row"></div>
            </div>
          </section>
          <!--Section Resume end-->

          <!--Section Projects start-->
          <section id="projects">
            <div class="container ">
              <div class="row project-header">
                <h2 class="layiheler"></h2>
                
              </div>

            

              <div class="row row-cols-1 row-cols-md-4 g-8">
                {% for project in projects %}
                <div class="col">
                  <div class="card border-0">
                    <div class="pj-card">
                      <a href="{{project.project_url}}" target="_blank"><img src="{{project.project_img}}" class="card-img-top pj-card-img pj-card" style="height: 306px" alt="..."></a>
                    </div>  
                    <div class="card-body">
                      <h5 class="card-title">{{project.project_name}}</h5>
                      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>

            </div>
          </section>
          <!--Section Projects end-->

          <!--Section FeedBacks start-->
          <section id="feedbacks" style="background-image: url(/static/uploads/pexels-james-lee-4723037.jpg)">
          <div class="container">
             <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% for elem in fb %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{elem.id - 1}}" ></button>
                {% endfor %}
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active fb-slide" data-bs-interval="10000">
                  <img src="/static/uploads/1444f4a5-4c8e-46df-9bf7-19c759d053d1.jfif" class="d-block  rounded-circle " alt="...">
                  <div class="carousel-caption position-relative d-none d-md-block fb-caption">
                    <h5>Rəşad Nuriyev</h5>
                    <p>İllərdi tanıdığım əzmkar insandan bu cür layihə gözlənilən idi. İşinə artıq dərəcədə fokuslanan, çox çalışqan biridir. Tanıdığımdan deyə bilərəmki, adamın tək vəzifəsi task-ı vaxtında 100%-li vəziyyətdə çatdırmaqdır. İşlərinizi tam rahatlıqla Yusifə tapşıra bilərsiniz. 👍🏻</p>
                  </div>
                </div>
                {% for feed in fb %}
                <div class="carousel-item fb-slide" data-bs-interval="2000">
                  <img src="{{feed.person_img}}" class="d-block  rounded-circle  " alt="...">
                  <div class="carousel-caption position-relative d-none d-md-block fb-caption">
                    <h5>{{feed.full_name}}</h5>
                    <p>{{feed.feedback}}</p>
                  </div>
                </div>
                {% endfor %}
                <!-- <div class="carousel-item fb-slide">
                  <img src="/static/uploads/pexels-anni-roenkae-4175070.jpg" class="d-block  rounded-circle " alt="...">
                  <div class="carousel-caption position-relative d-none d-md-block fb-caption">
                    <h5>Third slide label</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt aliquid maiores accusamus. Nostrum, fuga impedit animi aut eaque in vel? Cumque facere debitis officiis voluptates! Iusto sed recusandae quo?</p>
                  </div>
                </div> -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          </section>
          <!--Section FeedBacks end-->

          <!--Section Blog start-->
          <section id="blog">
            <div class="container">
              <div class="blog-header"><h2 class="blog"></h2></div>
              
              <div class="row row-cols-1 row-cols-md-3 g-4">

                {% for blog in blogs %}
                <div class="col">
                  <div class="card border-0">
                    <div class="pj-card">
                      <a href="{{blog.blog_url}}" target="_blank"><img src="{{blog.blog_img}}" class="card-img-top pj-card-img pj-card" style="height: 306px" alt="..."></a>
                    </div>  
                    <div class="card-body">
                      <h5 class="card-title">{{blog.blog_name}}</h5>
                      <span>{{blog.blog_dateTime}}</span>
                    </div>
                  </div>
                  
                </div>
                    
                  
                
                {% endfor %}
                
              </div>

              </div>
            </div>
          </section>
          <!--Section Blog end-->

          <!--Section Contact start-->
          <section id="contact" style="background-image: url(/static/uploads/pexels-james-lee-4723037.jpg)">
            <div class="container ">
              <div class="row contact-header d-flex justify-content-between">
                <h2 class="elaqe"></h2>
                <div class="contact-part d-flex justify-content-between">
                  <div class="col-md-5 col-lg-4 mb-3">
                  <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-center contact-list">
                      TELEFON:
                      <span class="badge bg-dark rounded-pill ">+994-55-782-91-86</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center contact-list">
                      EMAIL:
                      <a href="https://yusifosmanov475@gmail.com" target="_blank" class="badge bg-dark rounded-pill">yusifosmanov475@gmail.com</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center contact-list">
                      INSTAGRAM:
                      <!-- <span class="badge bg-dark rounded-pill">yusifiz</span> -->
                      <a href="https://www.instagram.com/yusifiz/" target="_blank" class="badge bg-dark rounded-pill">@yusifiz</a>
                    </li>
                    
                  </ul>
                </div>
                <form action="/admin/contact" method="POST">
                  <div class="btmInput d-flex flex-column">
                    <h3>Və ya sadəcə bir mesaj yazın..</h3>
                  <div class="input-group mb-3 bottom-input">
                    <input type="text" class="form-control me-3 btm-input-b" name="contact_name" placeholder="Ad" aria-label="Username">
                    
                    <input type="email" class="form-control me-3 btm-input-b" name="contact_email" placeholder="Email" aria-label="Server">
                  </div>
                  
                  
                  <div class="input-group mt-3 bottom-input-text">
                    <span class="input-group-text btm-input-b">Yazın..</span>
                    <textarea class="form-control btm-input-b" name="message" aria-label="With textarea"></textarea>
                  </div>
                    <button type="submit" class="btn btn-dark mt-3" >Göndər</button>
                    
                  </div>
                  
                  

                </form>
              </div>

                <div class="d-grid gap-2 col-6 mx-auto">

                </div>



              </div>
            </div>
          </section>
          <!--Section Contact end-->

          <!--Section MenuSide start-->
          <section id="menuSide container-fluid">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="overlay">
                    <div class="closeMenu ">
                      <span><i class="fas fa-times-circle"></i></span>
                    </div>
                    <ul class="menuItem">
                      <li class="menuItms">
                        <a href="#hello" class="linK"><strong>ANA SƏHİFƏ</strong></a>
                      </li>
                      <li class="menuItms">
                        <a href="#resume" class="linK"><strong >XÜLASƏ</strong></a>
                      </li>
                      <li class="menuItms">
                        <a href="#projects" class="linK"><strong>LAYİHƏLƏRİM</strong></a>
                      </li>
                      <li class="menuItms">
                        <a href="#feedbacks" class="linK"><strong>FEEDBACKS</strong></a>
                      </li>
                      <li class="menuItms">
                        <a href="#blog" class="linK"><strong >BLOG</strong></a>
                      </li>
                      <li class="menuItms">
                        <a href="#contact" class="linK"><strong>ƏLAQƏ</strong></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>            
          </section>
          <!--Section MenuSide end-->

          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
          <script src="/static/app.js"></script>
</body>
</html>