*{
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

/* .navbar{
    /* background: rgb(241,214,0) 
} */

.nav-item a strong{
    font-family: 'Roboto Mono', monospace;
    padding-right: 50px;
    color: black;
    
}

#navbarNav{
    padding-top: 30px;
}

.nav-item a strong:hover{
    color: gray;
}

.main-header{
    /* height: 500px; */
    background-position:50%;
    object-fit: cover;    
}

@media (max-width: 991px){ 
.personal-profile .personal-profile-pic {
    display: none;
}
}

.personal-profile{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-top: 90px;   
}


.personal-profile-pic img{
    border-radius: 5px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    width: 90%;
    height: 380px;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px;
}

.personal-profile-name{
    margin-top: 40px;
    margin-bottom: 10px;
}

.personal-profile-name h1 {
    font-size: 45px;
    font-family:'Roboto Mono', monospace;
    font-weight: 900;
    color: black;
}

/* .personal-profile-work{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;

} */

.coding-text{
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    color:blueviolet;
    overflow: hidden;
    padding: 0.5rem;
}

.typed-text{
    font-weight: bold;
    color:rgb(255, 0, 106);
}

.cursorJ{
    display: inline-block;
    width: 2px;
    background-color: gray;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursorJ.typing {
    animation: none;
}

@keyframes blink{
    0% {background-color: gray;}
    49% {background-color: gray;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100%{background-color: gray;}
}

.personal-profile-contact{
    width: 100%;
}

.list-group{
    display: flex;
}

.list-group-item{
    
    background: transparent;
    display: flex;
}

.list-group-item span{
    width: 50px;
    color: gray;
    font-weight: 900;
}

.icn{
    text-decoration: none;
    color: gray;

    font-size: 25px;
}

.icn a{
    text-decoration: none;
    color: gray;

    font-size: 25px;
}
.icn a i{
    padding-right: 15px;
}

.about-header{
    width: 250px;
    padding-left: 50px;
}

#hello{
    padding: 80px 0px;
    border-bottom: 1px solid lightgrey;
}

.hello h2{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    
}

.hello p{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
    margin-bottom: 30px;
}

#resume{
    padding: 80px 0px;
    border-bottom: 1px solid lightgrey;
}

.resume h2{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    
}

.resume p{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
    margin-bottom: 50px;
}

.s-item-group li {
    border-left: 1px solid orange;
    position: relative;
}

.s-item-group li:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    background: white;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}

.education-list h3{
    font-family: Roboto Mono,monospace;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px;
}

.resume-block-title{
    margin: 0px;
    text-transform: uppercase;
    color: rgb(0, 107, 194);
    font-size: 20px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-block-date{
    margin: 0px;
    font-family: Inconsolata,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
}

.resume-block-pg{
    margin: 0px;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
}

.skill-list h3{
    font-family: Roboto Mono,monospace;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px;
    margin-top: 50px;
}

#projects{
    padding: 80px 0px;
    border-bottom: 1px solid lightgrey ;
}

.project-nav{
    background: transparent;
    
}

.project-nav-item a strong{
    color: gray;
    font-size: 12px;
}

.project-nav-item a strong:hover{
    border-radius: 5px;
    background-color: orange;
    color: black;
}

.project-header h2{
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.project-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card{
    margin-bottom: 40px !important;

}

.prjct{
    margin-left: 0;

    transition: all 0.3s ease;
    margin-right: 0;
}

.prjct:hover{
    box-shadow: 0 1px 31px rgb(0 0 0 / 9%);
    cursor: pointer;
}

.prjct-title{
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}

.prjct-description{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}

#blog{
    padding: 80px 0px;
    border-bottom: 1px solid lightgrey ;
}

.blog-header h2{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.blogTitle{
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    color: #555;
}

.blogText{
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-bottom: 0;
}

.blg{
    margin-left: 0;

    transition: all 0.3s ease;
    margin-right: 0;
}

.blg:hover{
    box-shadow: 0 1px 31px rgb(0 0 0 / 9%);
    cursor: pointer;
}

#contact{
    padding: 80px 0px;
    border-bottom: 1px solid lightgrey ;
}

.contact-header h2{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.contact-list span{
    color: white;
    width: 150px;
}


.btmInput{
    max-width: 500px;
    
}

.bottom-input{
    max-width: 600px;
    max-height: 20px;

}

.bottom-input-text{
    max-width: 600px;
    max-height: 50px;
    
}

.form-control{
    background: transparent;
    border: none;
    outline: none;
    
}

.input-group-text{
    background: transparent;
    border: none;
    outline: none;

}

.btm-input-b{
    border: 1px solid rgba(0,0,0,.125);
}

.bottom-input-text textarea{
    resize: none;
}

@media (max-width:540px) {
   .contact-part {
       display: flex;
       flex-direction: column;
   }
}

.overlay{
    position: fixed;

    
    z-index: 9999;

    padding: 0;
    background-color: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.menuItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    list-style: none;
    padding: 0;
}

.menuItms a{
    text-decoration: none;
    text-align: center;
    

}

.menuItms strong{
    color: #fff;
    display: flex;
    flex-direction: column;
    
    
    padding: 11px;
    position: relative;
}

.closeMenu{
    display: flex;
    position: absolute;
    top: 25px;
    left: 125px;
}

.closeMenu span{
    color: white;
}

.closeMenu i{
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width:540px) {
    .closeMenu span i {
        position: relative;
        left: -100px;
    }
 }

div .sticky{
    padding: 5px 100px;
     background: white;
     transition: all 0.3s ease;
     box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
 }

.fb-slide img{
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 0px;
    left: 46%;
    margin-top: 50px;
}

.fb-caption{
    margin-right: 0px;
    border-right-width: 50px;
    width: 70%;
    padding-top: 50px;
}

@media (max-width:767px) {
    .fb-slide img {
        display: none !important;
    }
 }

 @media (max-width:767px) {
    .fb-caption {
        display: block !important;
    }
 }

 @media (max-width:1200px) {
    .fb-slide img {
        position: relative;
        left: 45%;
    }
 }

 @media (max-width:991px) {
    .fb-slide img {
        position: relative;
        left: 43%;
    }
 }

 
 @media (max-width:991px) {
    .nav-item {
        display: none;
    }
    div .sticky{
        display: none;
    }
    .project-nav-item{
        display: none;
    }
 }
